{% extends "admin/base_site.html" %} {% load static %} {% block content %}
<form action="" method="POST">
    {% csrf_token %}

    <h1>Download Records for any month</h1>
    <h5>*** Note: Downloads make take a long time due to size of records ***</h5>

    {% if task_id %}
    <div class="progress-wrapper">
        <div id="progress-bar" class="progress-bar" style="background-color: #68a9ef; width: 0%">&nbsp;</div>
    </div>
    <div id="progress-bar-message">Waiting for progress to start...</div>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
            document.getElementById('dwnButton').disabled = true;
            document.getElementById('bckButton').disabled = true;

            function customResult(resultElement, result) {
                document.getElementById('bckButton').disabled = false;

                document.getElementById('dwnButton').name = 'download';
                document.getElementById('dwnButton').value = 'Download';
                document.getElementById('dwnButton').disabled = false;
                document.getElementById('dwnButton').click();
            }

            CeleryProgressBar.initProgressBar(progressUrl, {
                onResult: customResult,
            });
        });
    </script>
    {% endif %}

    <br />

    <label>Choose a Month:</label>
    <select name="month">
        <option value="1">January</option>
        <option value="2">Febuary</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>

    <label>Choose a year:</label>
    <select name="year">
        <option value="2021">2021</option>
        <option value="2020">2020</option>
    </select>

    <br />

    <input type="hidden" name="action" value="download_records" />
    <input type="hidden" name="_selected_action" value="{{selected_action}}" />
    <input type="hidden" name="task_id" value="{{task_id}}" />
    <input id="dwnButton" type="submit" name="process" value="Process" />
    <input id="bckButton" type="submit" name="back" value="Back" />
</form>
{% endblock %}
